body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #323232;
}
section {
    padding: 100px 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.container .column {
    position: relative;
    width: 400px;
    float: left;
    transition: 0.5s;
}
.container .column .box {
    position: relative;
    width: 320px;
    min-height: 550px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(0deg, #202022, #464646);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border: 3px solid #ffc98e;
    box-shadow: 0 0 0 6px #323232,
        0 0 0 10px #ffc98e,
        0 0 0 20px #323232,
        0 10px 150px rgba(0, 0, 0, 1);
    overflow-y: hidden;
    transition: .5s;
}
.container .column .box:hover {
    transform: scale(1.1);
}
.container .column .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}
.container .column .box .title .fas {
    margin-top: 20px;
    font-size: 60px;
    color: #ffc98e;
}
.container .column .box .title h2 {
    color: #fff;
    margin: 20px 0 0;
    padding: 0;
}
.container .column .box .price h4 {
    font-size: 60px;
    color: #ffc98e;
    margin: 10px 0;
    padding: 0;
}
.container .column .box .option ul {
    margin: 20px 0;
    padding: 0;
}
.container .column .box .option ul li {
    list-style: none;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.container .column .box .option ul li:last-child {
    border-bottom: none;
}
.container .column .box .btn {
    display: inline-block;
    background: #ffc98e;
    color: #262626;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
}